@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ## HEADER / MENU ## */

li, a, .signinBtn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
a{
    text-decoration: none;
}

body{
    display: grid;
    align-content: center;
    grid-template-columns: 12fr 12fr 12fr 12fr 12fr; 
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header header header header header"
        "search search search search search"
        "book book book popular popular"
        "book book book popular popular"
        "activity activity activity activity activity"
        "activity activity activity activity activity"
        "footer footer footer footer footer";
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

header{
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 10px;
    height: auto;
}

#logo{
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 150px;
    min-height: 50px;
    max-height: 150px;
    height: 100%;
    margin-left: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.menu-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 50px;
}

.menu-nav li a{
    display: block;
    transition: all 0.1s ease 0s;
    color: #1f1f1f;
    text-decoration: none;
    height: 100px;
    width: auto;
    padding: 50px 50px;
}

#signinBtn{
    transition: all 0.1s ease 0s;
    color: #257fe6/*#0065fc*/;
    font-weight: bold;
}

.signinBtn{
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

.menu-nav li:hover{
    border-top: 10px solid #257fe6;
    margin-top: -10px;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;
}

.menu-nav li a:hover{
    color: #257fe6;
    font-weight: 700;
}
#signinBtn:hover {
    color: #004b7e;
}

/* ## MAIN AREA ## */

.search { 
    grid-area: search;
    height: auto;
}
.search > div{
    border: 1px solid black;
    margin: 20px;
    padding: 50px;
    /*background-color: rgb(255, 181, 181);*/
}
.search h2, .search>p:nth-child(1){
    line-height: 2rem;
    margin-bottom: 10px;
}
.search-container{
    display: inline-flex;
    margin: 20px 5px;
    border-radius: 20px;
    padding-left: 20px;
    width: max-content;
    background-color: rgb(230, 230, 230);
}
.search-container span{
    /*
    padding-top: 0px;
    */
    margin: 0 2px;
}

.search input[type='text']{
    -webkit-appearance: none;
    width: 270px;
    height: 50px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0;
    margin-left: 12px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.search button[type='submit']{
    /*margin-left: -5px;*/
    background-color: rgb(37, 127, 230);
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin-left: -5px;
    border: 1px solid rgb(37, 127, 230);
    border-radius: 0 20px 20px 0;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}

/*## FILTRES ##*/

.filterSearch-container{
    display: flex;
    align-items: center;
}

.filterSearch{
    margin-left: 50px;
    position: relative;
}

.filter-economique input[type='checkbox']{
    display: none;
}

/*## section2 #########################*/

.book { 
    grid-area: book;
    display: flex;
    /*background-color:brown;*/
}
.book > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
}

.popular {
    grid-area: popular;
    display: flex;
    /*background-color:rgb(80, 138, 85);*/
}
.popular > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
}

.activity {
    grid-area: activity;
    display: flex;
    /*background-color:rgb(59, 36, 36);*/
}
.activity > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
}

footer{
    grid-area: footer;
    padding: 5px;
    text-align: center;
    background-color:rgb(230, 230, 230);
}

/*#########   RESPONSIVE   #########*/

@media screen and (max-width: 740px) {
/*##   HEADER / MENU   ##*/
    header{
        padding: 0;
    }
    #logo{
        margin-left: 15px;
        margin-top: 15px;
    }
    nav{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .menu-nav, .signinBtn{
        height: auto;
        justify-content: space-evenly;
    }
    .menu-nav li{
        height: min-content;
    }
    .menu-nav li:nth-child(1){
        padding: 0 20px;
        margin-right: 0;
    }
    .menu-nav li:nth-child(2){
        padding: 0 20px;
        margin-right: 0;
    }
    .menu-nav li a::before{
        margin-bottom: 15px;
    }
    .menu-nav li a:hover::before{
        margin-bottom: 7px;
    }
    .signUpArea{
        position: absolute;
        height: auto;
        top: 5px;
        right: 15px;
        overflow: hidden;
        padding-bottom: 10px;
        margin-left: 0;
    }
    .signUpArea::before{
        margin-bottom: 10px;
    }
    .signUpArea:hover::before{
        margin-bottom: 3px;
    }

/*##   X   ##*/
}