@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.space{
    margin: 15px;
}

html {
    scroll-behavior: smooth;
}

/* Gestion affichage des ancres sous menu fixe*/
h2[id]:before{
    content:"";
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
}

/* ## HEADER & MENU ########################### */

li, a, .signin-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
a{
    text-decoration: none;
}

body{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 1.125em;
}

header{
    grid-column: span 7;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 10px;
    /*height: auto;*/
    z-index: 1000;
}

#logo{
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 120px;
    min-height: 50px;
    height: 100%;
    margin-left: 50px;
    margin-right: auto;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.menu-nav{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li a{
    display: block;
    transition: all 0.1s ease 0s;
    color: #1f1f1f;
    text-decoration: none;
    height: 100px;
    width: auto;
    padding: 50px 50px;
}

#signin-btn{
    transition: all 0.1s ease 0s;
    color: #257fe6;
    font-weight: bold;
    margin-top: 10px;
}

.signin-btn{
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-nav li:hover{
    border-top: 7px solid #257fe6;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;
}

.menu-nav li a:hover{
    color: #257fe6;
    font-weight: 700;
    margin-top: -7px;
}
#signin-btn:hover {
    color: #004b7e;
}

/* ## MAIN AREA ########################### */

.search { 
    grid-column: span 7;
    height: auto;
}
.search > div{
    margin: 20px;
    padding: 50px;
}
.search h1{
    line-height: 2rem;
    margin-bottom: 10px;
    font-size: 1.35em;
    margin-left: 5px;
}
.search-intro{
    line-height: 2rem;
    font-size: 1.125em;
    margin-left: 5px;
}
.search-container{
    display: inline-flex;
    margin: 20px 5px 40px 5px;
    border-radius: 20px;
    padding-left: 20px;
    width: max-content;
    background-color: rgb(230, 230, 230);
}
.search-container span{
    margin: 0 2px;
}

.search input[type='text']{
    -webkit-appearance: none;
    /*width: 270px;*/
    height: auto;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0;
    margin-left: 12px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1em;
}
.search button[type='submit']{
    background-color: rgb(37, 127, 230);
    color: white;
    font-weight: 700;
    font-size: 1em;
    width: 150px;
    height: auto;
    margin-left: -5px;
    border: 1px solid rgb(37, 127, 230);
    border-radius: 0 20px 20px 0;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

/*## FILTERS ###########################*/

.filter-search-container{
    display: flex;
    align-items: center;
    /*
    justify-content: flex-start;
    height: max-content;
    */
}

.filter-search{
    min-height: 45px;
}

.filter-items-container{
    display: inline;
}

.filter-items-container div{
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    width: max-content;
    height: 50px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 25px;
}

.filter-economic .circle, .filter-family .circle, .filter-romantik .circle, .filter-animals .circle{
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(210, 225, 246);
    background-color: rgb(210, 225, 246);
    border-radius: 25px;
}

.filter-items-container label{
    display: inline-block;
    border-radius: 50%;
    white-space: nowrap;
    transition: all .2s;
    padding: 12px 40px;
    cursor: pointer;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.filter-items-container label:hover{
    color: rgb(42, 98, 202);
}

.filter-items-container label::before{
    display: inline-block;
    position: absolute;
    left: -2px;
    top: 10px;
    width: 50px;
    border-radius: 50px;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.25em;
    color: rgb(42, 98, 202);
    text-align: center;
}

.filter-economic label::before{
    content: '\f53a';
    transition: all .2s;
}
.filter-economic label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}
.filter-family label::before{
    content: '\f1ae';
    transition: all .2s;
}
.filter-family label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}
.filter-romantik label::before{
    content: '\f004';
    transition: all .2s;
}
.filter-romantik label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}
.filter-animals label::before{
    content: '\f6d3';
    transition: all .2s;
}
.filter-animals label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}

.filter-items-container input[type='checkbox']{
    height: auto;
    margin-left: 15px;
    opacity: 0;
}

.filter-items-container input[type="checkbox"]:checked + label {
    color: rgb(42, 98, 202);
    background-color: rgb(210, 225, 246);
    transition: all .2s;
    border-radius: 0 25px 25px 0;
    height: 100%;
}

.info-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}

.info{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid rgb(210, 225, 246);
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}
.info > i{
    color: rgb(37, 127, 230);
}

/*## BOOK SECTION #########################*/

.book { 
    grid-column: span 4;
    display: flex;
}
.book > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
    border-radius: 25px;
}

.book-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    padding: 30px 0;
    margin: 15px 0;
}

.book h2{
    font-size: 1.75em;
}

.book-container a{
    color: unset;
}

.book-container .book-card{
    width: 100%;
    height: 250px;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 25px #bababa;
    transition: all .1s;
}
.book-card:hover{
    transform: scale(1.02);
    transition: all .1s;
}

.book .see-more{
    font-size: 1.25em;
    font-weight: 700;
    color: black;
}
.book .see-more:hover{
    color: rgb(37, 127, 230);
}

.book-card .card-head{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.book-card .card-content{
    width: 100%;
    height: 35%;
    background-color: white;
    position: absolute;
    top: 65%;
    border-radius: 0 0 20px 20px;
    padding: 15px;
}

.book-card .card-content p{
    font-size: 1em;
}

.book-card .card-content .evaluation{
    background-color: rgb(139, 67, 67);
    width: 150px;
    height: 20px;
}

.book-card .cannebiere{
    background-image: url('assets/images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .port{
    background-image: url('assets/images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .mouettes{
    background-image: url('assets/images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .mer{
    background-image: url('assets/images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -90px;
}

.book-card .panier{
    background-image: url('assets/images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .amina{
    background-image: url('assets/images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -180px;
}


/*## POPULAR SECTION #########################*/

.popular {
    grid-column: span 3;
    display: flex;
}
.popular > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
    border-radius: 25px;
}


/*##  ACTIVITY SECTION #####################*/

.activity {
    grid-column: span 7;
    display: flex;
}
.activity > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
    height: 850px;
    border-radius: 25px;
}

footer{
    grid-column: span 7;
    padding: 5px;
    text-align: center;
    background-color:rgb(230, 230, 230);
    height: 500px;
}



/*#########   RESPONSIVE   ############################*/

@media screen and (max-width: 740px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
/*##   HEADER - MENU   ###########################*/
    header{
        padding: 0;
    }
    #logo{
        margin-left: 15px;
        margin-top: 15px;
    }
    nav{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .menu-nav, .signin-btn{
        height: auto;
        justify-content: space-evenly;
    }
    .menu-nav li{
        height: min-content;
    }
    .menu-nav li:nth-child(1){
        padding: 0 20px;
        margin-right: 0;
    }
    .menu-nav li:nth-child(2){
        padding: 0 20px;
        margin-right: 0;
    }
    .menu-nav li a::before{
        margin-bottom: 15px;
    }
    .menu-nav li a:hover::before{
        margin-bottom: 7px;
    }
    .signUpArea{
        position: absolute;
        height: auto;
        top: 5px;
        right: 15px;
        overflow: hidden;
        padding-bottom: 10px;
        margin-left: 0;
    }
    .signUpArea::before{
        margin-bottom: 10px;
    }
    .signUpArea:hover::before{
        margin-bottom: 3px;
    }

/*##   X   ###########################*/
}