@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.space{
    margin: 15px;
}

/* ## HEADER & MENU ########################### */

li, a, .signinBtn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
a{
    text-decoration: none;
}

body{
    display: grid;
    align-content: center;
    grid-template-columns: 12fr 12fr 12fr 12fr 12fr; 
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header header header header header"
        "search search search search search"
        "book book book popular popular"
        "book book book popular popular"
        "activity activity activity activity activity"
        "activity activity activity activity activity"
        "footer footer footer footer footer";
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

header{
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 10px;
    height: auto;
    z-index: 1000;
}

#logo{
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 120px;
    min-height: 50px;
    height: 100%;
    margin-left: 50px;
    margin-right: auto;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.menu-nav{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li a{
    display: block;
    transition: all 0.1s ease 0s;
    color: #1f1f1f;
    text-decoration: none;
    height: 100px;
    width: auto;
    padding: 50px 50px;
}

#signinBtn{
    transition: all 0.1s ease 0s;
    color: #257fe6;
    font-weight: bold;
    margin-top: 10px;
}

.signinBtn{
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-nav li:hover{
    border-top: 10px solid #257fe6;
    margin-top: -10px;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;
}

.menu-nav li a:hover{
    color: #257fe6;
    font-weight: 700;
}
#signinBtn:hover {
    color: #004b7e;
}

/* ## MAIN AREA ########################### */

.search { 
    grid-area: search;
    height: auto;
}
.search > div{
    margin: 20px;
    padding: 50px;
}
.search h2, .search>p:nth-child(1){
    line-height: 2rem;
    margin-bottom: 10px;
    font-size: 1.4em;
}
.search-container{
    display: inline-flex;
    margin: 20px 5px 40px 5px;
    border-radius: 20px;
    padding-left: 20px;
    width: max-content;
    background-color: rgb(230, 230, 230);
}
.search-container span{
    /*
    padding-top: 0px;
    */
    margin: 0 2px;
}

.search input[type='text']{
    -webkit-appearance: none;
    width: 270px;
    height: 50px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0;
    margin-left: 12px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.search button[type='submit']{
    background-color: rgb(37, 127, 230);
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin-left: -5px;
    border: 1px solid rgb(37, 127, 230);
    border-radius: 0 20px 20px 0;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

/*## FILTERS ###########################*/

.filterSearch-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
}

.filterSearch{
    min-height: 45px;
}

.filterItemsContainer{
    display: inline;
}
/*
.filterItemsContainer .filter{
    margin: 5px;
}
*/
.filterItemsContainer div{
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    height: 50px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 25px;
}

.filter-economic .circle, .filter-family .circle, .filter-romantik .circle, .filter-animals .circle{
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(210, 225, 246);
    background-color: rgb(210, 225, 246);
    border-radius: 25px;
}

.filterItemsContainer label{
    display: inline-block;
    border-radius: 50%;
    white-space: nowrap;
    transition: all .2s;
    padding: 12px 40px;
    cursor: pointer;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.filterItemsContainer label::before{
    display: inline-block;
    position: absolute;
    left: -2px;
    /*top: 17px;*/
    font-style: normal;
    font-variant: normal;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-rendering: auto;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    color: rgb(42, 98, 202);
    text-align: center;
    transition: transform .3s ease-in-out;
}

.filter-economic label::before{
    content: '\f53a';
}
.filter-family label::before{
    content: '\f1ae';
}
.filter-romantik label::before{
    content: '\f004';
}
.filter-animals label::before{
    content: '\f6d3';
}

.filterItemsContainer input[type='checkbox']{
    height: auto;
    margin-left: 15px;
    opacity: 0;
}

.filterItemsContainer input[type="checkbox"]:checked + label {
    color: rgb(42, 98, 202);
    background-color: rgb(210, 225, 246);
    transition: all .2s;
    border-radius: 0 25px 25px 0;
    height: 100%;
}

.info-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid rgb(210, 225, 246);
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    font-family: serif;
}
.info > i{
    color: rgb(37, 127, 230);
}



.book { 
    grid-area: book;
    display: flex;
}
.book > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    /*width: 100%;*/
    border-radius: 25px;
}

.book-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 85%;
    padding: 30px 0;
}

.book-container .book-card{
    width: 300px;
    height: 230px;
    background-color: #fff;
    border-radius: 25px;
    /*border: 1px solid black;*/
}


/*## POPULAR SECTION #########################*/

.popular {
    grid-area: popular;
    display: flex;
}
.popular > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
    border-radius: 25px;
}


/*##  ACTIVITY SECTION #####################*/

.activity {
    grid-area: activity;
    display: flex;
    /*background-color:rgb(59, 36, 36);*/
}
.activity > div{
    background-color:rgb(230, 230, 230);
    margin: 25px;
    padding: 50px;
    width: 100%;
}

footer{
    grid-area: footer;
    padding: 5px;
    text-align: center;
    background-color:rgb(230, 230, 230);
}

/*#########   RESPONSIVE   ############################*/

@media screen and (max-width: 740px) {
/*##   HEADER - MENU   ###########################*/
    header{
        padding: 0;
    }
    #logo{
        margin-left: 15px;
        margin-top: 15px;
    }
    nav{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .menu-nav, .signinBtn{
        height: auto;
        justify-content: space-evenly;
    }
    .menu-nav li{
        height: min-content;
    }
    .menu-nav li:nth-child(1){
        padding: 0 20px;
        margin-right: 0;
    }
    .menu-nav li:nth-child(2){
        padding: 0 20px;
        margin-right: 0;
    }
    .menu-nav li a::before{
        margin-bottom: 15px;
    }
    .menu-nav li a:hover::before{
        margin-bottom: 7px;
    }
    .signUpArea{
        position: absolute;
        height: auto;
        top: 5px;
        right: 15px;
        overflow: hidden;
        padding-bottom: 10px;
        margin-left: 0;
    }
    .signUpArea::before{
        margin-bottom: 10px;
    }
    .signUpArea:hover::before{
        margin-bottom: 3px;
    }

/*##   X   ###########################*/
}