@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-blue-color: #0065FC;
    --light-blue-color: #DEEBFF;
    --light-grey-color: #F2F2F2;
}

.space{
    margin: 15px;
}

html {
    scroll-behavior: smooth;
}

/* Gestion affichage au clic des ancres sous menu fixe*/
h2[id]:before{
    content:"";
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
}

/* ## HEADER & MENU ########################### */

li, a, .signin-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
a{
    text-decoration: none;
}
body{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
}

header{
    grid-column: span 7;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 10px;
    z-index: 1000;
}

.logo-link{
    cursor: pointer;
    display: flex;
    width: 100%;
    max-width: 120px;
    min-height: 50px;
    height: 100%;
    margin-left: 50px;
    margin-right: auto;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.menu-nav{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: auto;
    height: 100%;
    min-height: 50px;
}

.menu-nav li a{
    display: block;
    transition: all 0.1s ease 0s;
    color: #1f1f1f;
    text-decoration: none;
    height: 100px;
    width: auto;
    padding: 50px 50px;
}

.signin-btn{
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding-top: 19px;
    color: var(--main-blue-color);
    font-weight: bold;
    margin: 30px 30px;
    transition: all 0.1s ease 0s;
}

.menu-nav li:hover, .menu-nav li:active{
    border-top: 7px solid var(--main-blue-color);
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;
}

.menu-nav li a:hover, .menu-nav li a:active{
    color: var(--main-blue-color);
    font-weight: 700;
    margin-top: -7px;
}
.signin-btn:hover, .signin-btn:active {
    color: #29b6f6;
}

/* ## MAIN AREA ########################### */

/*## SEARCH ###########################*/
.search { 
    grid-column: span 7;
}
.search > div{
    margin: 20px;
    padding: 50px;
}
.search h1{
    margin-bottom: 10px;
    font-size: 1.35rem;
    margin-left: 5px;
}
.search-intro{
    line-height: 2rem;
    font-size: 1.125rem;
    margin-left: 5px;
}

.travel-search{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 20px 5px 40px 5px;
    border-radius: 20px;
    /*background-color: var(--light-grey-color);*/
}

.span-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey-color);
    min-width: 50px;
    max-width: 70px;
    border-radius: 20px 0 0 20px;
}

.search-container span{
    margin: 0 2px;
}

.search input[type='search']{
    height: auto;
    width: 100%;
    border: 1px solid var(--light-grey-color);
    border-radius: 0;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.search button[type='submit']{
    background-color: var(--main-blue-color);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    width: 150px;
    height: auto;
    margin-left: -5px;
    border: 1px solid var(--main-blue-color);
    border-radius: 0 20px 20px 0;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

/*## FILTERS ###########################*/

.filter-search-container{
    display: flex;
    align-items: center;
}

.filter-search{
    min-height: 45px;
}

.filter-items-container div{
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    width: max-content;
    height: 50px;
    border: 2px solid var(--light-blue-color);
    border-radius: 25px;
}

.filter-economic .circle, .filter-family .circle, .filter-romantik .circle, .filter-animals .circle{
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 50px;
    width: 50px;
    border: 2px solid var(--light-blue-color);
    background-color: var(--light-blue-color);
    border-radius: 25px;
}

.filter-items-container label{
    display: inline-block;
    border-radius: 50%;
    white-space: nowrap;
    transition: all .2s;
    padding: 12px 40px;
    cursor: pointer;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.filter-items-container label:hover{
    color: var(--main-blue-color);
}

.filter-items-container label::before{
    display: inline-block;
    position: absolute;
    left: -2px;
    top: 10px;
    width: 50px;
    border-radius: 50px;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.25rem;
    color: var(--main-blue-color);
    text-align: center;
}

.filter-economic label::before{
    content: '\f53a';
    transition: all .2s;
}
.filter-economic label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}
.filter-family label::before{
    content: '\f1ae';
    transition: all .2s;
}
.filter-family label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}
.filter-romantik label::before{
    content: '\f004';
    transition: all .2s;
}
.filter-romantik label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}
.filter-animals label::before{
    content: '\f6d3';
    transition: all .2s;
}
.filter-animals label:hover::before{
    transform: scale(1.1);
    transition: all .2s;
}

.filter-items-container input[type='checkbox']{
    height: auto;
    margin-left: 15px;
    opacity: 0;
}

.filter-items-container input[type="checkbox"]:checked + label {
    color: var(--main-blue-color);
    background-color: var(--light-blue-color);
    transition: all .2s;
    border-radius: 0 25px 25px 0;
    height: 100%;
}

.info-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}

.info{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid var(--light-blue-color);
    text-align: center;
    padding: 7px;
    margin-right: 10px;
}
.info > i{
    color: var(--main-blue-color);
}

/*## BOOK SECTION #########################*/

.book { 
    grid-column: span 4;
    display: flex;
}
.book > div{
    background-color:var(--light-grey-color);
    margin: 25px;
    padding: 50px;
    width: 100%;
    border-radius: 25px;
}

.book-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    padding: 50px 0;
}

.book h2{
    font-size: 1.75rem;
}

.book-container a, .popular-card-container a, .activity-container a{
    color: unset;
    font-weight: normal;
}

.book-container .book-card{
    width: 100%;
    height: 270px;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px #bababa;
    transition: all .1s;
}
.book-card:hover, .popular-card:hover, .activity-card-container:hover{
    transform: scale(1.02);
    transition: all .1s;
}
.book-card:active, .popular-card:active, .activity-card-container:active{
    transform: scale(1.05);
    transition: all .1s;
}

.book .see-more{
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}
.book .see-more:hover{
    color: var(--main-blue-color);
}

.book-card .card-head{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.book-card .card-content{
    width: 100%;
    height: max-content;
    background-color: white;
    position: absolute;
    top: 60%;
    border-radius: 0 0 20px 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.book-card .card-content p{
    font-size: 1rem;
    margin: 5px 0;
}

.evaluation{
    width: 100%;
    font-size: 0.8rem;
}
.evaluation-dark-blue{
    color: var(--main-blue-color);
}
.evaluation-light-blue{
    color: var(--light-blue-color);
}

.book-card .cannebiere{
    background-image: url('../../assets/images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .port{
    background-image: url('../../assets/images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .mouettes{
    background-image: url('../../assets/images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .mer{
    background-image: url('../../assets/images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -90px;
}

.book-card .panier{
    background-image: url('../../assets/images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -35px;
}

.book-card .amina{
    background-image: url('../../assets/images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-position-y: -180px;
}


/*## POPULAR SECTION #########################*/

.popular {
    grid-column: span 3;
    display: flex;
}
.popular > div{
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey-color);
    margin: 25px;
    padding: 50px 50px 0 50px;
    width: 100%;
    border-radius: 25px;
}

.popular-container > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-container h2, .fa-chart-line {
    font-size: 1.75rem;
}

.popular-card-container{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.popular-card{
    width: 100%;
    height: 180px;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    margin: 25px 0;
    display: flex;
    box-shadow: 0px 0px 15px #bababa;
    overflow: hidden;
    transition: all .1s;
}

.popular-card-img{
    width: 100%;
    height: auto;
    border-radius: 25px 0 0 25px;
}

.popular-card-img-base{
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100%;
    background-position-x: -45px;
}

.soleil{
    background-image: url('../../assets/images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    
}

.coeur-de-l-eau{
    background-image: url('../../assets/images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg');
    width: 52%;
    background-position-x: 0.5px;
}

.bleu-et-blanc{
    background-image: url('../../assets/images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    background-position-x: 0px;
}

.popular-card-content{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 25px;
}

.popular-card-evaluation{
    margin-top: auto;
}




/*##  ACTIVITY SECTION #####################*/

.activity {
    grid-column: span 7;
    display: flex;
    margin-bottom: 20px;
}
.activity > div{
    margin: 25px;
    padding: 10px 50px 50px 50px;
    width: 100%;
    height: 850px;
    border-radius: 25px;
}

.activity h2{
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.activity-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(8, 35px);
    gap: 50px;
    padding: 25px 0;
}

.activity-card-container{
    transition: all .1s;
}

.activity-card{
    overflow: hidden;
}

.vieux-port, .pomegues, .frioul, .calanques, .n-d-garde, .longchamp{
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 0px 15px #bababa;
    width: 100%;
    position: relative;
}

.vieux-port{
    grid-column: 1 / 3;
    grid-row: 1 / 9;
}
.pomegues{
    grid-column: 3 / 5;
    grid-row: 1 / 6;
}
.frioul{
    grid-column: 3 / 5;
    grid-row: 6 / 9;
}
.calanques{
    grid-column: 5 / 7;
    grid-row: 1 / 9;
}
.n-d-garde{
    grid-column: 7 / 9;
    grid-row: 1 / 5;
}
.longchamp{
    grid-column: 7 / 9;
    grid-row: 5 / 9;
}

.activity-card-img-vieux-port{
    transform: translate(-33%, -15%) scale(0.7);
}

.activity-card-img-pomegues{
    width: 120%;
    transform: translate(-10%, -25%);
}

.activity-card-img-frioul{
    width: 105%;
    transform: translateY(-15%);
}

.activity-card-img-calanques{
    height: 100%;
    transform: scale(0.85) translate(-37%, -12%);
}

.activity-card-img-n-d-garde{
    width: 100%;
}

.activity-card-img-longchamp{
    width: 100%;
}

.activity-card-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    padding: 20px;
    font-weight: 700;
}

/*##  FOOTER SECTION #####################*/

footer{
    grid-column: span 7;
    padding: 5px;
    background-color:var(--light-grey-color);
    width: 100%;
}

.footer-container{
    display: flex;
    padding: 25px;
}

.footer-item-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.footer-item-title{
    margin-bottom: 15px;
}
.footer-item-title a{
    font-weight: 700;
}

.footer-item{
    margin: 10px 0;
}

.footer-item-container a{
    color: unset;
}
.footer-item-container a:hover{
    color: var(--main-blue-color);
}

/*#####################################################*/
/*#########   RESPONSIVE   ############################*/
/*#####################################################*/

/* Mobile & Tab */
@media screen and (max-width: 768px) {
    body{
        grid-template-areas: 
            "header"
            "search"
            "popular"
            "book"
            "activity"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    /*##   HEADER - MENU   ###########################*/
    body{
        margin: 0;
        font-size: 1rem;
    }

    header{
        grid-area: header;
        padding: 0;
        position: relative;
        width: 100vw;
    }

    .logo-link{
        margin-left: 20px;
        margin-top: 15px;
    }

    nav{
        position: relative;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .menu-nav{
        width: 100%;
        margin-top: 15px;
    }

    .menu-nav, .signin-btn{
        height: auto;
        justify-content: space-between;
    }

    .menu-nav li{
        height: min-content;
        background-color: #fff;
        border-bottom: 3px solid var(--light-grey-color);
    }

    .menu-nav li:hover, .menu-nav li:active{
        border-top: 0;
        margin-bottom: -10px;
        border-bottom: 4px solid var(--main-blue-color);
    }

    .menu-nav li:nth-child(1){
        padding: 0;
        margin-right: 0;
        width: 50%;
    }
    .menu-nav li:nth-child(2){
        padding: 0;
        margin-right: 0;
        width: 50%;
    }

    .menu-nav li a{
        height: auto;
        padding: 20px 50px;
    }

    .menu-nav li a::before{
        margin-bottom: 1px;
    }

    .menu-nav li a:hover::before{
        margin-bottom: 7px;
    }

    .signin-btn{
        position: absolute;
        height: auto;
        top: 15px;
        right: 10px;
        overflow: hidden;
        padding-bottom: 0;
        margin: 5px 15px;
    }

    .signin-btn::before{
        margin-bottom: 0;
    }

    .signin-btn:hover::before{
        margin-bottom: 0;
    }

    .signin-btn:active{
        color: #29b6f6;
    }

    /*##   SEARCH SECTION   ###########################*/
    .search{
        grid-area: search;
        width: 100vw;
        margin: 15px 0;
    }
    
    .search > div{
        padding: 0;
        margin: 15px;
    }

    .search h1{
        font-size: 1.125rem;
        line-height: normal;
    }

    .search-intro{
        line-height: 1em;
        font-size: 1rem;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 30px 0;
    }


    .search button[type="submit"]{
        border-radius: 15px;
        width: 59px;
        position: relative;
        overflow: hidden;
    }
    .search button[type="submit"]::before{
        content: "\f002";
        font-family: 'Font Awesome 5 Free';
        font-weight: 800;
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid var(--main-blue-color);
        border-radius: 15px;
        padding: 15px;
        height: 100%;
        width: 51px;
        background-color: var(--main-blue-color);
    }

    /* FILTERS SECTION */
    .filter-search-container{
        display: block;
    }

    .filter-items-container div{
        margin: 5px 5px;
    }

    .filter-items-container label{
        padding: 12px 18px;
        font-weight: 600;
    }

    /* BOOK SECTION */
    .book{
        grid-area: book;
        margin: 20px 0;
    }
    .book > div{
        margin: 0;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100vw;
    }

    .book-container{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        gap: 15px 15px;
    }

    .book h2{
        font-size: 1.3rem;
    }

    .book-container .book-card{
        height: 200px;
        margin: 0 auto;
    }

    .book-card .cannebiere{
        background-image: url('../../assets/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    }

    .book-card .port{
        background-image: url('../../assets/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    }

    .book-card .mouettes{
        background-image: url('../../assets/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    }

    .book-card .mer{
        background-image: url('../../assets/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    }

    .book-card .panier{
        background-image: url('../../assets/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    }

    .book-card .amina{
        background-image: url('../../assets/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
        width: 100%;
    }

    .book-card .card-content{
        top: 55%;
        padding: 5px 10px;
    }

    .book .see-more{
        max-width: 450px;
    }

    .book .see-more:active{
        color: var(--main-blue-color);
    }

    /* POPULAR SECTION */
    .popular{
        grid-area: popular;
        grid-column: unset;
    }
    .popular > div{
        margin: 0;
        padding: 30px 20px;
        border-radius: 0;
        width: 100vw;
    }

    .popular-card{
        height: 200px;
        width: 100%;
        margin: 5px auto;
        position: relative;
    }

    .popular-container h2{
        font-size: 1.3rem;
    }
    .fa-chart-line{
        font-size: 1.45rem;
    }

    .popular-card-img-base{
        min-width: 35%;
        max-width: 35%;
        background-position-x: 0;
    }

    .soleil{
        background-image: url('../../assets/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    }
    .coeur-de-l-eau{
        background-image: url('../../assets/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    }
    .bleu-et-blanc{
        background-position: unset;
        background-image: url('../../assets/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    }

    .popular-card-content{
        padding: 10px 10px 10px 20px;
        position: absolute;
        top: 10px;
        left: 35%;
        z-index: 15;
        display: flex;
        height: 80%;
        justify-content: space-between;
    }

    /* ACTIVITY SECTION */
    .activity{
        grid-area: activity;
        width: 100vw;
        margin: 20px 0;
    }
    .activity > div{
        margin: 0;
        padding: 20px;
        height: max-content;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .activity-container{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .activity-card-container{
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .activity-card{
        height: 200px;
    }

    .activity h2{
        font-size: 1.3rem;
    }

    .activity-card-content{
        height: unset;
    }

    .activity-card-img-vieux-port{
        width: 100%;
        transform: translate(0, -25px) scale(1);
    }

    .activity-card-img-pomegues{
        width: 100%;
        transform: translate(0, -40%) scale(1);
    }

    .activity-card-img-frioul{
        width: 100%;
        transform: translate(0, -17%) scale(1);
    }

    .activity-card-img-calanques{
        height: unset;
        width: 100%;
        transform: translate(0, -25%) scale(1);
    }

    .activity-card-img-n-d-garde{
        width: 100%;
        transform: translate(0, -7%) scale(1);
    }

    .activity-card-img-longchamp{
        width: 100%;
        transform: translate(0, -28%) scale(1);
    }

    /* FOOTER */
    footer{
        grid-area: footer;
    }
    .footer-container{
        flex-direction: column;
        height: 100%;
    }
}

/*##   TAB Optimisation   ###########################*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        grid-template-areas: 
            "header"
            "search"
            "popular"
            "book"
            "activity"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        margin: 0;
        width: 100vw;
    }

    header{
        width: 100vw;
        padding: 0;
    }

    .search{
        width: 100vw;
    }
    .search > div{
        margin: 0;
    }

    /* BOOK SECTION */
    .book{
        grid-area: book;
        width: 100vw;
        margin: 20px 0;
    }

    .book-card .card-content h3{
        font-size: 1rem;
    }

    .book-card .mer{
        background-position-y: -50px;
    }

    .book-card .amina{
        background-position-y: -120px;
    }

    /* POPULAR SECTION */
    .popular{
        grid-area: popular;
        grid-column: unset;
        width: 100vw;
    }

    .popular > div{
        padding: 50px 150px 0 150px;
        margin: 0;
        border-radius: 0;
    }

    .coeur-de-l-eau{
        max-width: 300px;
        min-width: 300px;
    }
    .soleil{
        max-width: 300px;
        min-width: 300px;
        height: 100%;
        background-position-x: unset;
    }
    .bleu-et-blanc{
        max-width: 300px;
        min-width: 300px;
        background-position-y: -150px;
    }

    /* ACTIVITY SECTION */
    .activity{
        grid-area: activity;
        width: 100vw;
        margin: 20px 0;
    }

    .activity > div {
        height: max-content;
    }

    .activity-container{
        gap: 30px;
    }

    .activity-card-img-n-d-garde, .activity-card-img-longchamp{
        width: 270px;
        height: 100%;
    }

    .activity-card-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    footer{
        grid-area: footer;
        width: 100vw;
    }

    .footer-container{
        width: 100%;
    }
}
/*#### Gestion des erreurs d'affichage ####*/
@media screen and (min-width: 480px) and (max-width: 928px){
    .bleu-et-blanc{
        background-position-y: 0px;
        background-origin: content-box;
    }
}
@media screen and (min-width: 1280px){
    h3{
        font-size: 1rem;
    }

    .book-card .card-content{
        padding: 5px 10px;
        min-height: 80px;
    }

    .book-card .card-content p{
        font-size: .9rem;
    }

    .book-card .mer, .book-card .amina{
        background-position-y: -50px;
    }

    .soleil, .coeur-de-l-eau, .bleu-et-blanc{
        min-width: 100px;
        max-width: 150px;
    }
}